@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.container {
  margin: 1 1 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.table-class i {
  size: 50px;
  font-size: 20px;
  font-style: italic;
}
